.container {
    height: 400px;
    width: 400px;
    background: #afafaf;
    position: relative;
}

.nested1 {
    height: 300px;
    width: 300px;
    background: #ff0000;
}

.nested2 {
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: -10px;
    left: 0;
    background: #00ff00;
}