* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    padding: 0 5% 0 5%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1% 0 1% 0;
    border-bottom: 2px solid #dfdfdf;
    color: #1e9697;
}

.title {
    font-size: 24px;
    text-transform: uppercase;
}

.navItems {
    font-size: 14px;
}

.navItems span {
    margin-right: 10px;
}

.form {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form form {
    border-radius: 5px;
    border: 2px solid #bcc3ca;
    width: 50%;
}

.formHeader {
    background-color: #bcc3ca;
    padding: 4%;
    text-transform: capitalize;
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.formFields {
    padding: 15px;
}

.formFields input[type=text] {
    width: 100%;
    border: 2px solid #bcc3ca;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
}

.formFields p {
    font-size: 14px;
    color: #686868;
    margin-bottom: 2px;
}

.formFields textarea {
    width: 100%;
    border: 2px solid #bcc3ca;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.formFields select {
    width: 100%;
    background-color: #1abc9c;
    border: none;
    border-radius: 4px;
    padding: 4px;
    color: white;
}

.formFields input[type="file"] {
    display: none;
}

.fileUpload {
    border: 2px solid #bcc3ca;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.fileUpload .filename {
    padding: 5px;
    flex-grow: 3;
    color: #787a7c;
}

.fileUpload .chooseFileButton {
    background-color: #bcc3ca;
    padding: 5px;
    color: white;
}

.radioSelect {
    display: flex;
    justify-content: space-between;
    color: #686868;
    border: none;
    font-size: 14px;
}

.formFooter {
    background-color: #edeff1;
    padding: 4%;
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.formFooter input[type=submit] {
    color: white;
    background-color: #1abc9c;
    padding: 5px;
    border: none;
    border-radius: 2px;
}

.bottomSpacing {
    margin-bottom: 10px;
}